.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-family: 'Montserrat', sans-serif;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.15s ease;

  @media (max-width: 767px) {
    width: 100%;
  }

  &:disabled {
    opacity: 0.4;
    cursor: default;
  }

  /* ===================== */
  /* Размеры */
  /* ===================== */
  &--sm {
    padding: 8px 16px;
  }

  &--md {
    padding: 12px 20px;
  }

  &--lg {
    padding: 16px 24px;
    text-transform: uppercase;
  }

  /* ===================== */
  /* Primary */
  /* ===================== */
  &--primary {
    background-color: var(--color-accent-primary);
    color: var(--color-text-inverse);

    @media (min-width: 767px) {
      &:hover:not(:disabled) {
        background-color: var(--color-accent-hover);
      }
    }
  }

  /* ===================== */
  /* Secondary */
  /* ===================== */
  &--secondary {
    background-color: transparent;
    color: var(--color-text-primary);
    border-color: var(--color-accent-primary);

    @media (min-width: 767px) {
      &:hover:not(:disabled) {
        background-color: var(--color-accent-primary);
        color: var(--color-text-inverse);
      }
    }
  }

  &--banner{
    align-self: flex-start;
    padding: 12px 24px;
    border-radius: var(--border-radius);
    border: none;
    background: var(--color-bg-card);
    color: var(--color-text-primary);
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: var(--color-bg-footer);
    }
  }
}
