.catalog-preview {
  &__title {
    color: var(--color-text-primary);
    margin-bottom: 40px;

    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media (max-width: 1024px) {
      gap: 20px;
    }

    @media (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    background-color: var(--color-bg-card);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-card);
    transition:
            border-color 0.3s ease,
            box-shadow 0.3s ease;

    &:hover {
      border-color: var(--color-accent-hover);
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);

      .catalog-preview__image {
        transform: scale(1.05);
      }

      .catalog-preview__card-title {
        color: var(--color-accent-hover);
      }
    }
  }

  &__image-wrapper {
    position: relative;
    overflow: hidden;
    aspect-ratio: 4 / 3;
  }

  &__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 0.5s ease;
  }


  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    padding: 20px;
    @media (max-width: 767px) {
      padding: 15px;
    }
  }

  &__card-title {
    color: var(--color-accent-primary);
    transition: color 0.2s ease;
  }

  &__card-text {
    color: var(--color-text-primary);
  }
}
