.faq {

  &__title {
    text-align: center;
    text-transform: uppercase;
  }

  &__list {
    width: 100%;
    margin: 0 auto;
  }

  &__item {
    border-bottom: 1px solid var(--color-border);
    margin-bottom: 20px;

    &.active {
      .faq__answer {
        grid-template-rows: 1fr;
      }

      .faq__icon::after {
        opacity: 0;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__question {
    width: 100%;
    margin: 10px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    background: none;
    border: none;
    cursor: pointer;
    text-align: left;

    color: var(--color-text-primary);
    -webkit-appearance: none;
    appearance: none;

    -webkit-tap-highlight-color: transparent;
    &:focus {
      outline: none;
    }
    &:active {
      color: var(--color-text-primary);
    }
  }

  &__text {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.4;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  &__icon {
    position: relative;
    width: 18px;
    height: 18px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background: var(--color-text-primary);
      transition: 0.3s ease;
    }

    &::before {
      width: 100%;
      height: 2px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &::after {
      width: 2px;
      height: 100%;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }
  }

  &__answer {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.35s ease;
  }

  &__content {
    overflow: hidden;

    p {
      font-size: 16px;
      margin-bottom: 10px;
      line-height: 1.6;
    }

    ul {
      padding-left: 20px;
      margin-bottom: 10px;
    }

    a {
      text-decoration: underline;
      color: inherit;
    }
  }
}
