.footer {
  padding: 30px 0;
  color: var(--color-text-primary);
  background-color: var(--color-bg-footer);

  &__inner {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    gap: 60px;
    margin-bottom: 30px;
  }

  &__logo {
    display: flex;
    width: 134px;

    &-icon {
      width: 134px;
      height: 90px;
      margin-top: -10px;
      margin-bottom: 20px;
      color: var(--color-accent-primary);
    }
  }

  &__legal {
    color: var(--color-text-primary);
    p {
      line-height: 1.6;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    a {
      transition: color .3s;
      &:hover {
        color: var(--color-accent-primary);
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__link {
    transition: color .3s;
    &:hover {
      color: var(--color-accent-primary);
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 8px;
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 10px;

    &-icon {
      width: 42px;
      height: 42px;
      color: var(--color-accent-primary);
      transition: color .3s;
      &:hover {
        color: var(--color-accent-hover);
      }
    }
  }

  &__payments {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    &-item {
      img {
        display: block;
      }
    }
  }
}

@media (max-width: 1024px) {
  .footer {
    &__inner {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px 20px;
    }
    &__col--info {
      grid-column: span 3;
      text-align: center;
    }
    &__logo {
      margin: 0 auto;
    }
    &__payments {
      justify-content: flex-start;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 20px 0;
    &__inner {
      gap: 30px;
    }
    &__col {
      text-align: center;
    }
    &__socials {
      justify-content: center;
    }

    &__payments {
      justify-content: center;
      gap: 25px;
      &-item {
        img {
          height: 30px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .footer {
    &__inner {
      grid-template-columns: 1fr;
    }
    &__col--info {
      grid-column: span 1;
    }
  }
}
